 <div class="ibox-content forum-container">
    <div class="forum-title">
        <div class="pull-right forum-desc">
            <samll>Total posts: {{forum.count}}</samll>
        </div>
        <h3>All Questions</h3>
    </div>
    <div class="forum-item active" ng-repeat="question in forum.questions">
        <div class="row">
            <div class="col-md-9">
                <div class="forum-icon">
                    <i class="fa fa-bolt"></i>
                </div>
                <a ui-sref="Home.ForumView({questionId : question.questionId})" class="forum-item-title">{{question.title}}</a>
                <div class="row">
                    <h3 class="font-bold"><small>Posted by :-</small>{{question._user[0].name}}</h3>
                </div>
                <div class="forum-sub-title">
                    <div ng-bind-html="question.question| limitTo: 500"></div>
                </div>
            </div>
            <div class="col-md-1 forum-info">
            <div class="vote-actions">
                <div>
                    <small>Rating</small>
                    
                </div>
                    
                <span class="views-number">
                    <a>
                        <i class="fa fa-chevron-up" ng-click="forum.onClickUpRate(question)"></i>
                    </a>
                    <div>{{question.rate}}</div>
                    <a>
                        <i class="fa fa-chevron-down" ng-click="forum.onClickDownRate(question)"></i>
                    </a>
                    </div>
                </span>
            </div>
            <!-- <div class="col-md-1 forum-info">
                <span class="views-number">
                    368
                </span>
                <div>
                    <small>Topics</small>
                </div>
            </div>
            <div class="col-md-1 forum-info">
                <span class="views-number">
                    140
                </span>
                <div>
                    <small>Posts</small>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row pull-right">
        <div class="btn-group" ng-if="forum.pages != 0">
            <button class="btn btn-white" ng-click="forum.onClickPrevButton()" style="height: 34px;">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="btn btn-white" ng-repeat="page in forum.pages" ng-class="{active : page == forum.currentPage}" ng-click="forum.onClickPageButton(page)">
                {{page}}
            </button>
            <button class="btn btn-white" ng-click="forum.onClickNextButton()" style="height: 34px;">
                 <i class="fa fa-chevron-right"></i> 
            </button>
        </div>
    </div>
 </div>

