 <div class="row">
 <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">IQ</h1>

            </div>
            <h3>Register to IQ</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" role="form" name="registerForm">
                <div class="form-group">
                    <input type="text" name="Name" class="form-control" placeholder="Name" ng-model="register.user.name" validation="min_len:2|required">
                </div>
                <div class="form-group">
                    <input type="text" name="UserName" class="form-control" placeholder="UserName" ng-model="register.user.username" validation="min_len:3|max_len:8|required">
                </div>
                <div class="form-group">
                    <input type="email" name="Email" class="form-control" placeholder="Email" ng-model="register.user.email" validation="email|required">
                </div>
                <div class="form-group">
                    <input type="password" name="Password" class="form-control" placeholder="Password" ng-model="register.user.password" validation="min_len:5|required">
                </div>
                <div class="form-group">
                    <input type="text" name="Mobile" class="form-control" placeholder="Mobile" ng-model="register.user.mobile" validation="min_len:10|integer|required">
                </div>
                <div class="form-group">
                    <input type="text" name="Education" class="form-control" placeholder="Education" ng-model="register.user.qualification" validation="required">
                </div>
                <div class="form-group">
                 <p class="input-group">
                    <input type="text" name="DateofBirth"  class="form-control" uib-datepicker-popup="{{register.format}}" ng-model="register.user.dateOfBirth" is-open="register.opened" min-date="register.minDate" max-date="register.maxDate" datepicker-options="register.dateOptions" close-text="Close" ng-change="register.onDateSelected()" placeholder="Date-of-Birth" validation="required" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="register.open($event)" style="height: 34px;">
                            <i class="fa fa-calendar"></i>
                        </button> 
                    </span>
                </p>
                </div>
                
                <button type="submit" class="btn btn-primary block full-width m-b" ng-click="register.onRegister(registerForm.$valid)">Register</button>

                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="Home.Login">Login</a>
            </form>
        </div>
    </div>
</div>

