 <div class="wrapper wrapper-content animated fadeInRight">
   <div class="ibox float-e-margins">
        <div class="ibox-title text-center p-md" >
             <h2><span class="text-navy">Welcome - To Quantitative forum IQ</span>
             <p>
                find out the aswere for your queries or Ask new question(s) :).
             </p>
        </div>
        <div class="ibox-content text-right p-md ">
             <span> 
                <button type="button" class="btn btn-info m-r-sm" ng-click="home.onQuestionClick()">Q</button>Questions 
            </span>
            <span> 
                 <button type="button" class="btn btn-danger m-r-sm" ng-click="home.onAskButtonClick()">A</button>Ask Questions
            </span>
            <span> 
                <button type="button" class="btn btn-active m-r-sm">B</button>Blogs
            </span>
        </div>
    </div>

   <div ui-view></div>