 <div class="row border-bottom">
            <nav class="navbar white-bg navbar-fixed-top" role="navigation" style="margin-bottom: 0;height: 58px;">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" id="toggleButton" href="#">
                    <i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" >
                        <div class="form-group">
                            <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul  class="nav navbar-top-links navbar-right">
                     <li>
                        <a ui-sref="Home.Forum" class="navbar-link">QforQuants</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-show="home.isActive">
                        <a class="navbar-link" ng-click="home.onLogout()">LogOut</a>
                    </li>
                    <li ng-if="!home.isActive">
                        <a ui-sref="Home.Login" class="navbar-link">Login</a>
                    </li>
                    <li ng-if="!home.isActive">
                        <a ui-sref="Home.Register" class="navbar-link">Sign-Up</a>
                    </li>
                    <li ng-if="home.isActive && home.isAdmin">
                        <a ui-sref="Home.Admin" class="navbar-link">Admin</a>
                    </li>
                </ul>
            </nav>
       </div>
 <div id="homeDiv" class="wrapper wrapper-content animated fadeInRight">
   <div class="ibox float-e-margins">
        <div class="ibox-title text-center p-md" >
        </div>
        <div class="ibox-content text-right p-md ">
             <span> 
              <a ui-sref="Home.Forum" class="btn btn-info m-r-sm" data-toggle="tooltip" data-placement="bottom" data-original-title="All Questions">Q</a>
               Questions 
            </span>
            <span> 
                 <button type="button" class="btn btn-danger m-r-sm" ng-click="home.onAskButtonClick()" data-toggle="tooltip" data-placement="bottom" data-original-title="Ask Questions">A</button>Ask Questions
            </span>
            <span> 
                <button type="button" class="btn btn-active m-r-sm">B</button>Blogs
            </span>
        </div>
    </div>
</div>

   <div ui-view></div>